.achievements .nav-items a {
    color: black;
    font-family: 'Poppins', sans-serif;
}
.achievements {
    font-family: 'Poppins', sans-serif; 
    background-image: url(../../assets/bg1.png);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    
}
.max-width{
    max-width: 400px;
}
