.newsletter {
  height: 100%;
  background-image: url(../../assets/bg1.png);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.newsletter .nav-items a:hover {
    color: rgba(0, 0, 0, 0.74);
}

.newsletter-box{
    padding: 5rem 5rem 0rem 5rem;
}

.newsletter-pdf{
    height: calc(100vh - 4rem);
}
