.navbar {
  background-color: black;
  width: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.nav-items a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items a:hover {
  color: rgba(255, 255, 255, 0.74);
}

.nav-items img {
  width: 3rem;
  height: 5rem;
}

.nav-items a.active {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav-items a {
    font-size: 0.9rem;
  }

  .nav-items img {
    width: 2.5rem;
    height: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .nav-items a {
    font-size: 0.75rem;
  }

  .nav-items img {
    width: 2rem;
    height: 3rem;
  }
}
